.blog_main_box{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.blog_list_body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.blog_list {
    position: relative;
    display: grid;
    grid-template-columns:repeat(2, 48%);
    grid-row-gap: 2rem;
    grid-column-gap: 4%;
}


#blog_list_title {
    padding-bottom: 1rem;
}


#home_body {
    display: flex;
    flex-direction: column;
}

.blog_item {
    height: 16rem;
}

.pagination {
    margin: 4rem;
}

.side_box{
    width: 24rem;
}

h1 {
    font-weight: 400;
    color: whitesmoke;
    margin: 2rem;
    margin-left: 0;
    position: relative;
    margin-bottom: 0.75rem;
}

h1::after {
    border-radius: 9999px;
    height: 0.25rem;
    position: absolute;
    bottom: 0;
    width: 6rem;
    content: "";
    background-image: linear-gradient(to right, aquamarine, orange);
    left: 0;
}
@media (max-width: 1024px) {
    .side_box{
        display: none;
    }
}
@media (max-width: 1424px) {
    .blog_list {
        position: relative;
        display: grid;
        grid-template-columns:repeat(1, 100%);
        gap: 2rem;
    }
}