#mdeditor_body {
    display: flex;
    flex-direction: row;
    border: 5px solid #00a4a2;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00a4a2;
    height: 45rem;
    padding: 0px;
}
.article_options{
    width: 25%;
    height: 100%;
    background-color: black;
    margin-left: 1px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_input{
    width: 85%;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    color: aqua;
    border: 2px solid lightseagreen;
    margin: 1rem;
    transition: box-shadow,0.2s;
}
.title_input:focus{
    border: 2px solid aquamarine;
    box-shadow:0px 0px 20px 0px #00a4a2;
}
.act_btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#tag_add{
    background-color: #e6a23c;
    margin: 0.6rem;
}

#pub_article{
    opacity: 1;
    margin: 0.6rem;
}
#tag_add:hover{
    opacity: 1;
}
#pub_article:hover{
    opacity: 1;
}
.img_uploader{
    width: 150px;
    height: 150px;
    border: 2px solid #00a4a2;
}
.img_uploader:hover{
    border: 2px solid darkseagreen;
}
.tag_add_box{
    width: 400px;
    height: 300px;
    margin: 1rem;
    background-color: #0B4252;
    border-radius: 10px;
}