*,
*::before,
*::after {
  margin: 0px;
}

.page_body{
  animation: appear 0.3s ease-out;
  width: 100%;
  position: relative;
}
.color_box{
  background-image: linear-gradient(to right top,aquamarine,aquamarine,orange);
  height: auto;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page_title{
  font-weight: 400;
  color: whitesmoke;
  /*margin: 2rem;*/
  margin-left: 0;
  position: relative;
  margin-bottom: 0.75rem;
  padding-bottom: 1rem;
}
.page_title::after {
  border-radius: 9999px;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  width: 6rem;
  content: "";
  background-image: linear-gradient(to right, aquamarine, orange);
  left: 0;
}
.text_link{
  overflow-wrap: break-word;
  color: aqua;
  text-decoration-line: none;
}

.content_marker{
  background-color: aquamarine;
}
.title_marker{
  background-color: orangered;
}